<?xml version="1.0"?>
<config>
	<modules>
		<Stagem_GoogleRetag>
			<version>0.1.0</version>
		</Stagem_GoogleRetag>
	</modules>
	<global>
		<helpers>
			<stagem_googleRetag>
				<class>Stagem_GoogleRetag_Helper</class>
			</stagem_googleRetag>
		</helpers>
		<blocks>
			<stagem_googleRetag>
				<class>Stagem_GoogleRetag_Block</class>
			</stagem_googleRetag>
		</blocks>
		<models>
			<stagem_googleRetag>
				<class>Stagem_GoogleRetag_Model</class>
				<!--<resourceModel>popov_base_resource</resourceModel>-->
			</stagem_googleRetag>
		</models>

        <frontend>
            <!--<routers>
                <stagem_googleRetag>
                    <use>standard</use>
                    <args>
                        <module>Stagem_GoogleRetag</module>
                        <frontName>retag</frontName>
                    </args>
                </stagem_googleRetag>
            </routers>-->
            <layout>
                <updates>
                    <stagem_googleRetag>
                        <file>stagem/google_retag.xml</file>
                    </stagem_googleRetag>
                </updates>
            </layout>
        </frontend>

		<events>
			<!-- this name is really important, use this to indicate the layout-render-before event -->
			<!--<controller_action_layout_render_before>
				<observers>
					<stagem_googleRetag_cookies_observer>
						<type>singleton</type>
						<class>Stagem_GoogleRetag_Model_Observer</class>
						<method>hookToSetCookies</method>
					</stagem_googleRetag_cookies_observer>
				</observers>
			</controller_action_layout_render_before>-->

            <controller_action_layout_generate_blocks_after>
                <observers>
                    <stagem_googleRetag_google_targeting>
                        <type>singleton</type>
                            <class>Popov_Seo_Model_Observer</class>
                        <method>hookAfterGenerateBlocks</method>
                    </stagem_googleRetag_google_targeting>
                </observers>
            </controller_action_layout_generate_blocks_after>
		</events>
	</global>

</config>