<?xml version="1.0" ?>
<config>
    <tabs>
        <stagem module="stagem_googleRetag" translate="label">
            <label>Stagem</label>
            <sort_order>900</sort_order>
        </stagem>
    </tabs>

    <sections>
        <stagem_googleRetag module="stagem_googleRetag" translate="label">
            <label>Google Targeting</label>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>stagem</tab>
            <groups>
                <settings translate="label">
                    <label>Google Targeting Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>

                        <targeting translate="label">
                            <label>Targeting</label>
                            <frontend_model>stagem_googleRetag/config_targeting</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </targeting>
                    </fields>
                </settings>
            </groups>
        </stagem_googleRetag>
    </sections>
</config>
